<nav class="navbar navbar-expand-md ms-auto bg-secondary bg-opacity-25">
  <div class="container-fluid">
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'home' %}">
      <i class="bi bi-house"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#app-navbar"
      aria-controls="app-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="app-navbar">
      <ul class="navbar-nav">
        {% for link in navbar_links %}
          <li class="nav-item">
            <a
              class="nav-link {% if link.active %}active{% endif %}"
              {% if link.active %} aria-current="page" {% endif %}
              href="{{ link.href }}"
            >
              {{ link.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <div class="navbar-nav ms-auto">
        <div id="navbar-desktop-dropdown" class="nav-item dropdown d-none d-md-flex">
          {% include "partials/_theme_toggle.html" %}
          <button
            class="nav-link dropdown-toggle mt-1"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-person"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end px-3" aria-labelledby="navbarDropdown">
            {% include "partials/_navbar_dropdown_content.html" %}
          </div>
        </div>
        <div id="navbar-mobile-dropwdown" class="d-md-none">
          <hr>
          {% include "partials/_theme_toggle.html" %}
          {% include "partials/_navbar_dropdown_content.html" %}
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <div class="ms-auto d-flex align-items-center">
      {% include "partials/_theme_toggle.html" %}
      <div class="navbar-text ms-2">
        You are not logged in
      </div>
      <a class="btn btn-success m-2" href="{% url 'login' %}">{% translate "Log In" %}</a>
    </div>
  {% endif %}
</nav>
